{% extends 'base.html.twig' %}

{% block title %}Les piafs actifs
{% endblock %}

{% block body %}

	<div class="body-home">
		<div class="mobile">
			<a class="card-android" href="https://www.application.lespiafsactifs.fr/build/app/Piafs_Actifs.apk" download="Piafs_Actifs.apk" onclick="runScript()">
				<img style="height:100%; width:auto" class="card-img-top" src="{{ asset('build/images/android.png') }}" alt="android app">
				<div class="card-body-android">
					<h5 class="card-title-android text-center">Télécharger l'App</h5>
					<p class="card-text-android">Télécharger l'application des Piafs Actifs.</p>
					<p class="card-text-android text-end mt-3">
						<small class="text-muted">Cod4y</small>
					</p>
				</div>
			</a>
		</div>
		{% if app.user %}
			<p class="text-center"><small>L'application a été téléchargée {{ countUpload.countUploadApp }} fois</small></p>
		{% endif %}

		<div class="no-mobile">
			<div class="card-android">
				<img style="height:100%; width:auto" class="card-img-top" src="{{ asset('build/images/android.png') }}" alt="android app">
				<div class="card-body-android">
					<h5 class="card-title-android text-center">Rendez-vous sur smartphone</h5>
					<p class="card-text-android">Rendez-vous sur smartphone pour télécharger l'application mobile.</p>
					<p class="card-text-android text-end mt-3">
						<small class="text-muted">Cod4y</small>
					</p>
				</div>
			</div>
		</div>

		<div class="page-acceuil">
			<img class="img-page-acceuil" src="{{ asset('build/images/child.jpeg') }}" alt="piafs Actifs">
			<div class="text-acceuil">
				<h1 class="text-center">Bienvenue
					{% if app.user %}
						{{ app.user.firstname }}
					{% endif %}
				</h1>
				<p class="sub-title-actualite">Nos dernières actualités</p>
				{% for actualite in listActualite %}
					<div class="card-actualite">
						<h4 class="text-center">{{actualite.title}}</h4>
						<p>{{actualite.description}}</p>
						<p class="author-actualite">
							{% if actualite.author == "Pas d'auteur" %}
								Pas d'auteur
							{% else %}
								{{actualite.author.firstname}}
							{% endif %}
						</p>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="page-partner">
			<h3 class="text-center">Découvrir nos pertenaires</h3>
			<div class="row section-content slider-section">
				{% for partner in partners %}
					<div class="col img-partner">
						<img class="img-thumbnail" src="{{partner.lienUrl}}" title="{{ partner.name }}" alt="{{ partner.name }}">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

    <Script>
		function runScript() {
			fetch('/countUpload')
		}
    </Script>
{% endblock %}

