{% extends 'base.html.twig' %}

{% block title %}Les Piafs Actifs - Inscription{% endblock %}

{% block body %}
<div class="bodyConnect">
    <div class="container">
        <div class="form-align">
            {{ form_start(registrationForm) }}

                {{ form_widget(registrationForm.email) }}
                {{ form_widget(registrationForm.plainPassword) }}
                <p class="mt-2 text-center">{{ form_widget(registrationForm.agreeTerms) }}  J'accepte les <a href="{{ path('rgpd_privacy')}}" style="text-decoration:none">mentions légales</a> et la <a href="{{ path('rgpd_terms')}}" style="text-decoration:none">polique de confidentialité</a></p>
                <button class="btn btn-connect" type="submit">
                    CREER
                </button>
            {{ form_end(registrationForm) }}
            <a  href="{{ path('app_login') }}" class="text-inscription mt-3">Déjà un compte? Se connecter</a>
        </div>
    </div>
</div>

{% endblock %}
