{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="body-home">
		<div class="page-acceuil m-3">
			<div class="text-acceuil m-auto">
				<h1 class="text-center">Son profil</h1>
                <div class="d-flex">
                    <img class="img-profil" src="{{asset('/build/avatar_piafs/')}}{{user.avatar}}" title="avatar Piafs Actifs" alt="avatar Piafs Actifs" height="150px">
                    <div class="w-50 d-flex m-auto flex-column" >
                        <h4 style="font-weight: bold">
						    {{ user.email }}
                        </h4>
                        <p>
                            {% if user.roles|json_encode == '["ROLE_ADMIN"]' %}
                                Administrateur
                            {% elseif user.roles|json_encode == '["ROLE_INTER"]' %}
                                Intervenant
                            {% else %}
                                Utilisateur
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="card-actualite">
                    <div class="d-flex">
                        <p class='title-profil'>Nom :</p>
                        <p class='text-profil'>{{ user.lastname }}</p>
                    </div>
                     <div class="d-flex">
                        <p class='title-profil'>Prénom :</p>
                        <p class='text-profil'>{{ user.firstname }}</p>
                    </div>
                     <div class="d-flex">
                        <p class='title-profil'>Date de naissance :</p>
                        <p class='text-profil'>{{ user.birthdate ? user.birthdate|date('d/m/Y') : '' }}</p>
                    </div>
                     <div class="d-flex">
                        <p class='title-profil'>Tél :</p>
                        <p class='text-profil'>{{ user.phone }}</p>
                    </div>
                     <div class="d-flex">
                        <p class='title-profil'>Adresse :</p>
                        <p class='text-profil'>{{ user.address }}<br>{{ user.zipcode }} {{ user.city }}</p>
                    </div>
                </div>
                <div class="card-actualite">
                    <h3 class="card-title">Ses adhérants</h3>
                    {% for adherant in user.childrens %}
                        <div class="d-flex {% if adherant.id == children.id %} selected-children {% endif %}">
                            <p class='title-profil'>{{adherant.name}} {{adherant.firstname}}</p>
                            <p class='text-profil'>{{ date().diff(date(adherant.birthdate)).format('%y') }} ans, ({{adherant.birthdate ? adherant.birthdate|date('d/m/Y') : ''}})<br>
                                <span class= {{adherant.isActive ? 'text-compte' : 'text-compte-2'}} >{{adherant.activeAt ? 'compte actif jusqu\'au '~ adherant.activeAt|date('d/m/Y') : 'compte inactif'}}</span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                {% if children.comments|filter(comment => comment.intervenant == app.user or 'ADMIN' in app.user.roles.0)|length > 0 %}
                    <div class="card-actualite">
                        <h3 class="card-title">Messages</h3>
                        {% for comment in children.comments %}
                            {% if comment.intervenant == app.user or 'ADMIN' in app.user.roles.0 %}
                            <div class="d-flex">
                                <p class='title-profil-2'>{{comment.atelierAt|date('d/m/Y')}}</p>
                                <p class='text-profil'>{{comment.comment}}</p>
                                <p class='title-profil-3'>{{comment.intervenant.firstname}}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="button-div">
                    <a class="btn button1" href="{{ path('site_list_inter_atelier') }}">RETOUR</a>
                    <button type="button" class="btn button2" data-bs-toggle="modal" data-bs-target="#exampleModal">DESINSCRIRE</button>
                </div>
			</div>
		</div>
            <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Désinscription</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir désinscrire {{ children.name }} {{ children.firstname }} de l'atelier "{{ atelier.name }}"
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button1" data-bs-dismiss="modal">ANNULER</button>
                        <a type="button" class="btn button2" href="{{ path('crud_atelier_unsubscrible',{'atelier': atelier.id, 'children': children.id}) }}">DESINSCRIRE</a>
                    </div>
                </div>
            </div>
	    </div>
    </div>

    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })
    </script>

{% endblock %}
